.container.show
  .row
    .col-md-6
      %h1.brand-heading=@venue.name

    .col-md-6.text-right
      %h4.date-show 
        =link_to @venue.destination.name, destination_path(@venue.destination)

  .row
    .col-md-6
      -@venue.posts.each do |post|
        .post
          .row
            .col-md-12
              %h4
                =post.title
                \|
                =post.created_at.to_formatted_s(:long)
          .row
            .col-md-12
              %p
                =post.body
                -if current_user
                  %br/
                  %br/
                  =link_to 'Edit', edit_destination_post_path(@venue.destination, post)
  
      -if current_user
        .row
          %br/
          %br/
          %h4
            =link_to "Add New Post", new_destination_post_path(@venue.destination)

    .col-md-6
      .row
        .col-md-12
          #map.single

      
/ =render 'map'
