.container.show
  .row
    .col-md-6.text-center
      %h1.huge-title
        =@work_tasks.count
      %h2 
        Work Tasks

    .col-md-6.text-center
      %h1.huge-title
        =@personal_tasks.count
      %h2 
        Personal Tasks
