.container.show
  %h2 Introduction to Mandarin - 普通话
  
  %h4 Who Speaks It

  %p 
    Standard Mandarin (普通话 - 
    %em
      pǔ tōng huà
    \)
    is a Chinese language* spoken by the vast majority of the populations of the People's Republic of China (PRC) and the Republic of China (Taiwan). Originally based on the Beijing dialect of Mandarin, the language was adopted by the modern governments of China where it was taught in schools and was implemented as the sole language of the media. As a result, Mandarin is now nearly universally spoken and understood across China (with the notable exception of Hong Kong and Macau where Cantonese remains the official language), though it largely still coexists with local Chinese languages where Mandarin is not natively spoken.

  %em 
    *Chinese actually refers to a whole family of related languages spoken across the country including Mandarin, Cantonese, Shanghainese, Taiwanese, and many others. These are 
    %strong
      not
    mutually intelligible and are linguistically considered separate languages, despite the common conception that these are all simply "dialects" of the same language (a relatively recent political label intended to unify these different groups under a common identity). 
  %br/
  %br/
  %br/
  %h4 What's Hard About It

  %p As a language that is completely unrelated to English, Mandarin presents three major challenges to learners.

  %p 
    The first is the tone system. Unlike most Indo-European languages, Mandarin employs a tone system to differentiate between words that otherwise have the same pronunciation. For example, the word
    %em
      mā
    (pronounced with a high, flat tone) means mom, while the word
    %em
      mǎ
    (pronounced with a tone that drops and then rises) means horse. In reality context plays a large role in determining the meaning of words, as Mandarin also has a large number of homophones (words that share both pronunciation and tone). Without a solid grasp of the tone system however it will be very hard to make yourself understood in Mandarin.

  %p
    The second challenge to Mandarin for English speakers is the completely unrelated vocabulary base. There is almost no overlap in words, as even English loanwords are typically transliterated extensively to the point of being nearly unrecognizable. The good part about Mandarin word construction however is that a significant portion of the vocabulary is comprised of compound words, such that monosyllabic words will be combined (sometimes unpredictably) to express more complex ideas. 

  %p
    The third challenge to Mandarin is the writing system. Mandarin speakers typically write their language in either Simplified Chinese Characters (PRC) or Traditional Chinese Characters*. Both systems are logographic, meaning their symbols do not represent specific phonetic sounds, and instead represent words in their entirety. Since these symbols (known as characters) represent words instead of pronunciation, it is possible to for the same characters to represent different pronunciations or even be used for different languages. This is in fact the case as Cantonese shares the same written standard as Mandarin, despite being completely mutually unintelligible when spoken.

  %em *The difference between simplified and traditional characters is that about 2000 traditional characters were modified to be made simpler for the simplified character set. Other than those 2000, all characters between the two systems are the same.
  %br/
  %br/
  %br/

  %h4 What's Easy About It

  %p Mandarin learners take comfort in the language's simple grammatical structure: there are no verb conjugations, noun genders, definite articles, or plurals, among other noticeable concepts common in Indo-European languages. The simplicity of the grammar can actually become a challenge when expressing nuance, though for a beginning learner it's certainly not an issue to be concerned with.  

  %br/
  %br/
  %br/

  %h4 What Do I Need to Get Started

  %p Becoming familiar with Mandarin's tone system and Pinyin (the standard romanization system) will be essential to getting started. It's recommended that you spend time listening and practicing both the tones and the Pinyin alphabet before getting started. A great resource for learning the tones and Pinyin is the ____ .