.container.show
  %h2 Introduction to Swahili - Kiswahili
  
  %h4 Who Speaks It

  %p 
    Swahili (Kiswahili) is a Bantu language and the first language of the Swahili people. It is a lingua franca of the African Great Lakes region and other parts of Southeast Africa, principally in Tanzania and Kenya, along with parts of Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of the Congo.
  
  %p
    Although only around fifteen to fifty million people speak Swahili as their first language, it is used as a second or third language in much of Southeast Africa. Estimates of the total number of Swahili speakers vary widely, though it is likely over 150 million and consequently the most spoken African language. Swahili serves as a national or official language of four nations: Tanzania, Kenya, Uganda and the Democratic Republic of the Congo and is also one of the official languages of the African Union and East African Community.

  %br/
  %br/
  %br/
  %h4 What's Hard About It

  %p As a non Indo-European language, Swahili vocabulary tend to differ significantly from their equivalents in English*. That being said, it is quite common for Swahili speakers to borrow and codeswitch with English (particularly in urban areas of Kenya).

  %p Swahili also employs an elaborate noun class system which groups different categories of nouns together with particularly prefixes for plural forms and when used with demonstratives.

  %em *It's worth noting that about 15% of Swahili vocabulary is derived from Arabic, resulting from sustained interactions with Arab traders over hundreds of years

  %br/
  %br/
  %br/

  %h4 What's Easy About It

  %p Swahili grammar is refreshingly consistent and straightforward. Verbs are conjugated according to a root and different prefixes indicating the speaking and objects of the verb. Plurals are also formed consistently following the prefix of the noun class a word belongs to. Perhaps most importantly for a beginner, the Swahili writing system is purely phonetic with no inconsistencies in pronunciation and the individual phonemes of the language pose almost no difficulty to English speakers.

  %br/
  %br/
  %br/

  %h4 What Do I Need to Get Started

  %p Familiarize yourself the phonetics of the Swahili alphabet.