.container.show
  .row
    .col-md-12
      %h1.brand-heading=@aspiration.title

      %p=@aspiration.description        

      %h4
        -@destinations.each do |destination|
          =destination.name
          \|
        -if current_user
          = link_to 'Edit', edit_aspiration_path(@aspiration)
          \|
          = link_to 'Add Stop', new_stop_path
        \|
        = link_to 'Back', aspirations_path



#map

=render 'map'
