
.container.show
  .row
    %h1 What this is
  .row.about
    .col-md-10.col-md-offset-1
      %p Not sure. Currently focused on creating something useful for friends of mine who are learning languages.

      %p My intention is also to note the places of interest that I enjoyed while visiting. This will probably be peppered with occasional musings of a more generic variety. 

      %p In the end I figure it will at least be useful to have something I can reference for future occasions. Might even be interesting to others as well.

  .row
    %br/
    %br/
    %h3 Code
  .row.other-stuff
    .col-md-10.col-md-offset-1
      %p 
        If you're interested in checking out the code for this site, feel free to view the Github 
        %a{:href => "https://github.com/dcyu/lifeatlas", target: "_blank"}
          here
        \.

  .row
    %br/
    %br/
    %h3 About me

  .row.other-stuff
    .col-md-10.col-md-offset-1
      %p 
        I am a composer turned web developer who studied near eastern languages in school before dropping out to start a 
        %a{:href => "https://www.sokowatch.com", target: "_blank"}
          company 
        distributing supplies to small stores in the developing world. 
        %br/
        %br/
        Doesn't make much sense to me either.

