.container.show
  .row
    %h1 What this is
  .row.about
    .col-md-10.col-md-offset-1
      %p I've been meaning to do this for quite a while. I think it's important to reflect on life's activities, and having my own medium for recording those reflections is a good way of forcing myself to do so.

      %p My intention is to note the places of interest that I enjoyed while visiting. This will probably be peppered with occasional musings of a more generic variety. 

      %p In the end I figure it will at least be useful to have something I can reference for future occasions. Might even be interesting to others as well.

      %p I created this site in December 2014 to track travels and activities. I am making an effort to include my previous independent travels, though exact dates and details may be slightly off depending on the availability of the travel records.  

  .row
    %br/
    %br/
    %h3 Code
  .row.other-stuff
    .col-md-10.col-md-offset-1
      %p 
        If you're interested in checking out the code for this site, feel free to view the Github 
        %a{:href => "https://github.com/dcyu/lifeatlas", target: "_blank"}
          here
        \.

  .row
    %br/
    %br/
    %h3 About me

  .row.other-stuff
    .col-md-10.col-md-offset-1
      %p 
        I am a composer turned web developer who studied near eastern languages in school before dropping out to start a 
        %a{:href => "http://www.reliefwatch.com", target: "_blank"}
          company 
        tracking medical supplies in the developing world. 
        %br/
        %br/
        Doesn't make much sense to me either.