.container.content-section
  %h1 All Destinations


  -if user_signed_in?
    =link_to "Add Destination", new_destination_path, class: "btn btn-primary"
    %br
    %br

  .table-responsive
    %table.table
      %thead
        %tr
          %th.col-md-4
            Name
          %th.col-md-3
            Last Visited
          %th.col-md-2
            Number of Visits
      %tbody
        - @destinations.each do |destination|
          %tr
            %td
              =link_to destination.name, destination
            %td
              -if destination.trips.count > 0
                =destination.trips.order(:left_on).last.left_on.to_formatted_s(:long)
              -else
                Not Yet Visited
            %td
              =destination.trips.count
