.container.content-section
  %h1 All Destinations
  
  .row
    .col-md-3.col-md-offset-1
      %h4
        %u
          Name
    .col-md-7.col-md-offset-1
      %h4
        %u
          Last Visited

  .row
    .col-md-8
      - @destinations.each do |destination|
        .row
          .col-md-5.col-md-offset-1
            %h4
              =link_to destination.name, destination
          .col-md-5.col-md-offset-1
            %h4
              -if destination.trips.count > 0
                =destination.trips.order(:left_on).last.left_on.to_formatted_s(:long)
              -else
                Not Yet Visited

    -if user_signed_in?
      %li
        =link_to "Add Destination", new_destination_path