.intro.tibet
  .intro-body
    .container
      %h1.brand-heading 
        LIFEATLAS
        %span.brand-subheading
          活着 
          %span.spacer
          للعيش
          %span.spacer
          жить

        %span.brand-subheading.smaller
          para vivir 
          %span.spacer
          pour vivre 

        %span.brand-subheading.smaller
          to live

#map
=render 'map'
  