.container.show
  .row
    .col-md-6
      %h1.brand-heading=@destination.name

    .col-md-6.text-right
      -@trips.each do |trip|
        %h4.date-show 
          = trip.arrived_on.to_formatted_s(:long)
          \-
          = trip.left_on.to_formatted_s(:long)
          -if current_user
            \|
            =link_to "Edit", edit_trip_path(trip)

  .row
    .col-md-6
      -@destination.posts.each do |post|
        .post
          .row
            .col-md-12
              %h4
                =post.title
                \|
                -if post.restaurant
                  =link_to post.restaurant.name, restaurant_path(post.restaurant)
                  \|
                -if post.rating
                  %span.hint--bottom{"data-hint" => post.rating_hint}
                    -post.rating.times do
                      %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
                  \|
                =post.created_at.to_formatted_s(:long)
          .row
            .col-md-12
              %p
                =post.body
                -if current_user
                  %br/
                  %br/
                  =link_to 'Edit', edit_destination_post_path(@destination, post)
  
      -if current_user
        .row
          %br/
          %br/
          %h4
            =link_to "Add New Post", new_destination_post_path(@destination)

    .col-md-6
      .row
        .col-md-12
          #map.single
        .col-md-8.col-md-offset-2.top-buffer
          .row.top-buffer
            %h4 Restaurants
            .col-md-10.col-md-offset-2
              -@restaurants.each do |restaurant|
                %h6
                  =link_to restaurant.name, restaurant_path(restaurant)

            -if current_user
              %br/
              =link_to "Add New Restaurant", new_restaurant_path


      
=render 'map'
