.container.show
  .row
    .col-md-6
      %h1.brand-heading=@destination.name

    .col-md-6.text-right
      -@trips.each do |trip|
        %h4.date-show 
          = trip.arrived_on.to_formatted_s(:long)
          \-
          = trip.left_on.to_formatted_s(:long)
          -if current_user
            \|
            =link_to "Edit", edit_trip_path(trip)

  .row
    .col-md-6
      -@destination.posts.each do |post|
        .post
          .row
            .col-md-12
              %h4
                =post.title
                \|
                =post.created_at.to_formatted_s(:long)
          .row
            .col-md-12
              %p
                =post.body
                -if current_user
                  %br/
                  %br/
                  =link_to 'Edit', edit_destination_post_path(@destination, post)
  
    .col-md-6
      .row
        #map.single
      -if current_user
        .row.text-right
          %br/
          %br/
          %h4
            =link_to "Add New Post", new_destination_post_path(@destination)

      
=render 'map'
