.container.show
  .row
    .col-md-6
      %h1.brand-heading=@destination.name

    .col-md-6.text-right
      %h4.date-show 
        = @destination.arrived_on.to_formatted_s(:long)
        \-
        = @destination.left_on.to_formatted_s(:long)
        \|
        =link_to "Edit", edit_destination_path(@destination)

  .row
    .col-md-6
      -@destination.posts.each do |post|
        .post
          .row
            .col-md-12
              %h4
                =post.title
                \|
                =post.created_at.to_formatted_s(:long)
          .row
            .col-md-12
              %p
                =post.body
                %br/
                %br/
                =link_to 'Edit', edit_destination_post_path(@destination, post)
  
    .col-md-6
      .row
        #map.single
      .row.text-right
        %br/
        %br/
        %h4
          =link_to "Add New Post", new_destination_post_path(@destination)

      
=render 'map'
