@import "bootstrap"
@import "grayscale"
@import "bootstrap/glyphicons"
@import "hint"

%vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.vertical-align
  @extend %vertical-align

.relative
  position: relative

.alert
  border-radius: 0px
  position: relative
  top: 75px
  text-align: center

.border-right
  border-right: 2px solid #000

input, form label
  color: black

.show
  padding-top: 120px

.landing
  padding: 80px 0

body.show-page
  color: #000
  background-color: #fff

.date-show
  margin: 1em 0

.post
  border-bottom: 1px solid #000
  margin-top: 3em

#map.single
  width: 500px
  height: 300px
  float: right

nav.show-page a
  color: #000

.brand-subheading
  display: block
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif
  text-transform: lowercase
  font-size: 0.5em
  margin-top: 30px 
  .glyphicon
    font-size: 0.7em
  &.italic
    font-style: italic
  &.smaller
    font-size: 0.3em

.spacer
  margin: 0 20px

.top-buffer
  margin-top: 20px

.white
  background-color: #fff
  color: #000

.vertical-div
  height: 250px
  h1
    line-height: 250px