@import "bootstrap"
@import "grayscale"
@import "bootstrap/glyphicons"

.alert
  border-radius: 0px
  position: relative
  top: 75px
  text-align: center

input, form label
  color: black

.show
  padding-top: 100px

body.show-page
  color: #000
  background-color: #fff

.date-show
  margin: 1em 0

.post
  border-bottom: 1px solid #000
  margin-top: 3em

#map.single
  width: 500px
  height: 300px
  float: right

nav.show-page a
  color: #000

.top-buffer
  margin-top: 20px